{% extends "@Contao/be_main" %}

{% block headline %}
{% endblock %}
{% block main_content %}
<style>#main_headline{display:none}
  .themply-form{font-size:30px;padding:20px;background-color: #fcfcfc; border:1px solid #ccc}
  .themply-form >div{padding-bottom:20px;min-height:30px}
  .themply-form label{display:inline-block;width:160px;}
  .themply-form button{ float:right}
  #form_themes{height:50px;line-height:50px}</style>
<div style="width:80%; float:left; padding-left:10%;padding-top:40px;">
  
  <div style="width:40%; float:right;">
   <h1 style="font-size:30px;text-align: center"><a href="https://github.com/birdsinthesun" target='_blank'>birdsinthesun</a> </h1>
   
      <img src="{{ asset('images/logo.png', 'themply') }}" alt="Logo">
     
     
</div><div style="width:60%; float:left; ">
      {{ form_start(form,  { 'attr': {'class': 'themply-form' , 'data-turbo': 'false'}}, {'action': 'themply'}, {'method': 'POST'}) }}
     
        {{ form_row(form.themes,{'value':'quarz'}) }}
        {{ form_row(form.verzeichnis) }}
      {{ form_end(form) }}
    </div>
<div style="width:100%; float:left;">
      <h2 style="font-size:60px;line-height:90px">Themply Theme-Generator</h2> 
<p style="font-size:30px;line-height:42px">Einfach ein Bootwatch-Theme auswählen und auf "generieren" klicken. Bitte nicht vergessen das Verzeichnis anzugeben wohin das Stylesheet generiert werden soll. Es muss ein Unterordner im files-Ordner sein. Also einmal in "Dateien" gehen und da einen Unterordner erstellen, falls das noch nicht geschehen ist.</p>
</div>
 <iframe src="https://bootswatch.com/quartz/" title="Quartz"
  style=" width: 100%; height: 600px;">
</iframe> 
  </div>

{% endblock %}